/* friend avata */

html, body{
    height: 100%;
    background-color: #fff;
}

.video-call-wrappper{
    background-color: #000;
    height: 100%;
    display: grid;
    grid-template-rows: 7% 92%;
}

/* ================  HEADER  ================= */
.header-container{
    height: 64px;
    position: fixed;
    transform: translateY(0%);
    transition: transform 0.5s ease-out 0s, background-color 0.3s ease-out 0s;
    background-color: transparent;
    width: 100%;
    padding: 16px 24px;
    align-items: center;
    display: flex;
    background-color: #181818;
    justify-content: space-between;

}

.header-container .logo{
    height: 40px;
}

.header-container .avata img{
    height: var(--avt-size);
    width: var(--avt-size);
    border-radius: 50%;
    /* object-position: 150px 150px; */
}

.header-container .nav{
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-container .nav a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 7px;
}

.header-container .nav a:hover{
    background-color: #393939;

}

.header-container .nav .video-chat{
    margin-left: -90px;
    margin-right: 14px;
}
/* ================  ENDHEADER  ================= */




/* ================  CONTENT  ================= */
.content-container{
    display: grid;
    grid-template-columns: 80% 20%;
}

.screen{
    display: flex;
    justify-content: space-between;
    height: 87%;
}

.my-screen, .another-screen, .chat{
    background-color: #fff;
    border-radius: 20px;
    margin: 0 4px;
}

.my-screen, .another-screen{
    width: 50%;
    height: 100%;
    
}


.chat{
    display: grid;
    grid-template-rows: 8% 82% 10%;
}

.avt-report{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 14px;
    border-bottom: #a0a0a0 solid 1px;
}

.chat img{
    height: var(--avt-fr-size);
    width: var(--avt-fr-size);
    border-radius: 50%;
}

.chat .avt-name{
    font-size: 18px;
    font-weight: bold;
}

.chat i{
    font-size: 24px;
    padding: 12px 14px;
    border-radius: 50%;
}

.chat i:hover{
    background-color: #aba8a8;
    cursor: pointer;
}

.enter-message{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-message input{
    background-color: #6b6a6a;
    width: 100%;
    margin: 0 12px;
    padding: 12px 16px;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #fff;
}

::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}
/* ================  ENDCONTENT  ================= */



/* ================  FOOTER  ================= */
.video-call-wrappper .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 4px 0;
}

.stop-btn, .next-btn{
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    border: #fff solid 2px;
    border-radius: 10px;
    text-decoration: none;
    padding: 16px 112px;
}

.stop-btn:hover{
    color: red;
    border: red solid 2px;
    cursor: pointer;
}

.next-btn:hover{
    color: green;
    border: green solid  2px;
    cursor: pointer;
}

/* ================  ENDFOOTER  ================= */


