.login-form {
    width: 550px;
    height: 560px;

    * {
        font-weight: 800;
        line-height: normal;
    }

    .btn:hover {
        --bs-btn-hover-border-color: #332f2f;
    }

    .login-form__header {
        border-bottom: 1px solid black;
    }

    .login-form_heading {
        color: #000;
        font-size: 30px;
        text-align: center;
        margin: 25px auto;
    }

    .login-form__wrapper {
        margin: 30px 28px;
    }

    .login-form__input {
        margin-bottom: 26px;
        width: 100%;
        height: 60px;
        padding: 0 12px;
        font-size: 25px;
        border: 1px solid #333131;
    }

    .btn-login {
        width: 100%;
        cursor: pointer;
        margin: 15px auto;
    }

    .login-form__text-forgot {
        color: rgba(0, 0, 0, 0.56);
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }

    .login-form__link-forgot {
        color: rgba(0, 0, 0, 0.67);
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
    }



    .btn-register {
        margin-top: 40px;
        border: 3px solid #362813;
        background: #bbeaed;
        color: black;
        display: block;
        padding-top: 12px;

        margin-left: 0;
    }

    .alert {
        position: relative;
        width: auto;
        height: 50px;
        top: 0px;
        line-height: 30px;
        text-align: center;

    }

    .alert-success {
        background-color: #7eecbb;

    }

    .alert-danger {
        background-color: #ea868f;
    }

    a {
        text-decoration: none;
    }
}